body{
    background-color: black;
}
div
{

 margin-left: 40% ;
 margin-top: 20%;
}

img
{
  border: 10px  solid white;
  width: 350px;
  height: 200px;
}
p{
    color: white;
    margin-left: 2%;
}
h1{
    font-family:Libre Baskerville ;
    margin-left: 8%;
    color: white;
}